    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /* This will make the form centered vertically in the viewport */
    }
  
    .login-form {
      width: 300px;
      /* Set the width of the form */
    }